@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/*
CSS Reset
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%
}

ol, ul {
    list-style: none;
}

/*
GENERAL STYLES
*/
html {
    background-color: #222222;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

/*
TODO SECTION
*/
#todo-wrapper {
    background-color: #F2F2F2;
    width: 20%;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 10px;
    padding: 1.5rem;
}

#input-wrapper {
    text-align: center;
    margin-bottom: 1rem;
}

#task-input {
    width: 80%;
    height: 2.2rem;
}

#task-input[type=text] {
    padding: 0.1rem 0.5rem;
}

#task-submit{
    height: 2.1rem;
    background-color: #222222;
    color: #F2F2F2;
}

#task-submit:hover {
    background-color: #F2F2F2;
    color: #222222;
}

#controls-wrapper {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 0.7rem;
}

.selected {
    font-weight: bold;
}

.controls {
    cursor: pointer;
}

.controls:hover {
    text-decoration: underline;
}

#uncompleted-tasks {
    display: none;
}

#completed-tasks {
    display: none;
}

.task-wrapper {
    padding: 0.7rem 0;
    border-bottom: 1px solid lightgrey;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}

.task {
    padding-left: 0.3rem;
}

.checkbox-wrapper {
    display: inline;
    margin: auto 0;
    height: 1rem;
    width: 1rem;
}

input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
}
